# 08 Day

1. Convert the dictionary into a DataFrame 
2. Set the country column as the dataframe index 
3. Convert the Area_km_sq column to square miles (Change the column heading as well).
4. Create a new column that contains the population per sq_mile
5. Challenge: Create a function to do number 2.(Hint:The arguments should be: dataframe, column_name, new_column_name and it should return a dataframe)
6. Challenge: Redo number 2 using the mapping function (Here is a great chance to practice your Googling!!!)

In [4]:
import pandas as pd

In [5]:
data_dictionary = {"country": ["USA", "Canada", "Mexico", "Nicaragua", "Belize", "Guatamala", "El Salvador", "Costa Rica", "Panama", "Honduras"],
                  "Population": [300000000, 150000000, 167000000, 87000000, 35000000, 76000000, 45000000, 67000000, 55000000, 38000000],
                  "Area_km_sq": [10000000, 14000000, 4000000, 900000, 500000, 400000, 420000, 370000,390000, 420000]}
            
df = pd.DataFrame(data_dictionary)
df.head(2)

  country  Population  Area_km_sq
0     USA   300000000    10000000
1  Canada   150000000    14000000

In [4]:
df.set_index("country", inplace=True)
df.head(2)

         Population  Area_km_sq
country
USA       300000000    10000000
Canada    150000000    14000000

In [5]:
area_miles_sq = []
for each in df["Area_km_sq"]:
    each = each * 0.621371
    area_miles_sq.append(each)
df["Area_km_sq"] = area_miles_sq

df.rename(columns={"Area_km_sq":"Area_miles_sq"}, inplace=True)

In [6]:
df["Area_miles_sq"]

country
USA            6213710.00
Canada         8699194.00
Mexico         2485484.00
Nicaragua       559233.90
Belize          310685.50
Guatamala       248548.40
El Salvador     260975.82
Costa Rica      229907.27
Panama          242334.69
Honduras        260975.82
Name: Area_miles_sq, dtype: float64

In [7]:
df["pop_per_mile"] = df["Population"]/df["Area_miles_sq"]

In [8]:
df2 = pd.DataFrame(data_dictionary)
df2.head(2)

  country  Population  Area_km_sq
0     USA   300000000    10000000
1  Canada   150000000    14000000

In [9]:
def km_to_miles(dataframe, column_name, new_column_name):
    area_miles_sq = []
    for each in dataframe[column_name]:
        each = each * 0.621371
        area_miles_sq.append(each)
    dataframe[column_name] = area_miles_sq
    dataframe.rename(columns={"Area_km_sq":"Area_miles_sq"})
    return dataframe

In [10]:
km_to_miles(df2, "Area_km_sq", 'Area_miles_sq')

       country  Population  Area_km_sq
0          USA   300000000  6213710.00
1       Canada   150000000  8699194.00
2       Mexico   167000000  2485484.00
3    Nicaragua    87000000   559233.90
4       Belize    35000000   310685.50
5    Guatamala    76000000   248548.40
6  El Salvador    45000000   260975.82
7   Costa Rica    67000000   229907.27
8       Panama    55000000   242334.69
9     Honduras    38000000   260975.82

In [11]:
df3 = pd.DataFrame(data_dictionary)
df3.head(2)

  country  Population  Area_km_sq
0     USA   300000000    10000000
1  Canada   150000000    14000000

In [12]:
df3["Area_km_sq"] = df3["Area_km_sq"].map(lambda x: x * 0.621371)

In [14]:
df3.rename(columns={"Area_km_sq":"Area_miles_sq"}, inplace=True)

In [15]:
df3.head(2)

  country  Population  Area_miles_sq
0     USA   300000000      6213710.0
1  Canada   150000000      8699194.0