## Day 08

In [16]:
import pandas as pd

1. Explore the dictionary 
2. Use a quick googles search to find the info to replace any NaN values 
3. reorder the dataframe to put the countries in alphabetical order
4. reset the index to be in numerical order
6. Merge the data and language dataframes on the county index
5. Group the dataframe by language to determine how many countries speak each of the languages 
6. Group the dataframe by language to determine the average population size by language
7. Group the dataframe by language to determine the total area per language

In [17]:
data_dictionary = {"country": ["USA", "Canada", "Mexico", "Nicaragua", "Belize", "Guatemala", "El Salvador", "Costa Rica", "Panama", "Honduras"], 
                   "Population": [300000000, 150000000, 167000000, 87000000, 35000000, 76000000, 45000000, 67000000, 55000000, 38000000],  
                   "Area_km_sq": [None, 14000000, 4000000, 900000, None, 400000, 420000, 370000,None, 420000],}

In [18]:
language_dictionary = {"country": ["USA", "Canada", "Mexico", "Nicaragua", "Belize", "Guatemala", "El Salvador", "Costa Rica", "Panama", "Honduras"], 
                      "primary_language": ["English", "French", "Spanish", "Spanish", "English", "Spanish", "Spanish", "Spanish", "Spanish", "Spanish"]}

In [19]:
df = pd.DataFrame(data_dictionary)

In [20]:
df.head()

     country  Population  Area_km_sq
0        USA   300000000         NaN
1     Canada   150000000  14000000.0
2     Mexico   167000000   4000000.0
3  Nicaragua    87000000    900000.0
4     Belize    35000000         NaN

In [21]:
df.sort_values('country', inplace=True)
df.reset_index(drop = True)

       country  Population  Area_km_sq
0       Belize    35000000         NaN
1       Canada   150000000  14000000.0
2   Costa Rica    67000000    370000.0
3  El Salvador    45000000    420000.0
4    Guatemala    76000000    400000.0
5     Honduras    38000000    420000.0
6       Mexico   167000000   4000000.0
7    Nicaragua    87000000    900000.0
8       Panama    55000000         NaN
9          USA   300000000         NaN

In [22]:
df_lang = pd.DataFrame(language_dictionary)

In [28]:
df_merged = df.merge(df_lang)

In [29]:
df_merged

       country  Population  Area_km_sq primary_language
0       Belize    35000000         NaN          English
1       Canada   150000000  14000000.0           French
2   Costa Rica    67000000    370000.0          Spanish
3  El Salvador    45000000    420000.0          Spanish
4    Guatemala    76000000    400000.0          Spanish
5     Honduras    38000000    420000.0          Spanish
6       Mexico   167000000   4000000.0          Spanish
7    Nicaragua    87000000    900000.0          Spanish
8       Panama    55000000         NaN          Spanish
9          USA   300000000         NaN          English

In [30]:
df_merged.groupby("primary_language").count()

                  country  Population  Area_km_sq
primary_language
English                 2           2           0
French                  1           1           1
Spanish                 7           7           6

In [32]:
df_merged.groupby("primary_language").mean()

                    Population  Area_km_sq
primary_language
English           1.675000e+08         NaN
French            1.500000e+08  14000000.0
Spanish           7.642857e+07   1085000.0

In [33]:
df_merged.groupby("primary_language").sum()

                  Population  Area_km_sq
primary_language
English            335000000         0.0
French             150000000  14000000.0
Spanish            535000000   6510000.0