Go to https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016 and download the data. Use command line to rename the downloaded file to suicide_rates.csv, then move the file to your repository (use 'mv')

In [8]:
import pandas as pd

Load the data into a pandas dataframe

In [3]:
df = pd.read_csv("./datasets/master.csv")

In [13]:
print(df.shape)
df.head(2)

(27820, 12)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent

Create another dataframe with only the rows where country starts with 'U'. Use the map and lambda functions, as well as masking (this might be a new term to look up!)

In [18]:
df_subset = df[df['country'].map(lambda x: x[0]=='U')]
df_subset.shape

(1752, 12)

Get the names of unique countries left - use .unique() [Thoughts]: how would that be useful if we have duplicated values in a dataset?

In [22]:
df_subset["country"].unique()

array(['Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

Pick only rows with 'United States'. Group by age column and sum the number of suicides

In [23]:
df_usa = df[df["country"] == "United States"]

In [26]:
df_usa.groupby("age").sum()["suicides_no"]

age
15-24 years    141679
25-34 years    182047
35-54 years    380917
5-14 years       8923
55-74 years    224770
75+ years       95677
Name: suicides_no, dtype: int64