In [1]:
data_dictionary = {"country": ["USA", "Canada", "Mexico", "Nicaragua", "Belize", "Guatamala", "El Salvador", "Costa Rica", "Panama", "Honduras"],  "Population": [300000000, 150000000, 167000000, 87000000, 35000000, 76000000, 45000000, 67000000, 55000000, 38000000],  "Area_km_sq": [10000000, 14000000, 4000000, 900000, 500000, 400000, 420000, 370000,390000, 420000]}
print(data_dictionary)

{'country': ['USA', 'Canada', 'Mexico', 'Nicaragua', 'Belize', 'Guatamala', 'El Salvador', 'Costa Rica', 'Panama', 'Honduras'], 'Population': [300000000, 150000000, 167000000, 87000000, 35000000, 76000000, 45000000, 67000000, 55000000, 38000000], 'Area_km_sq': [10000000, 14000000, 4000000, 900000, 500000, 400000, 420000, 370000, 390000, 420000]}

In [20]:
import pandas as pd

df = pd.DataFrame.from_dict(data_dictionary)
df.head()

dfnew = df.rename(columns={'Area_km_sq': 'Area_Miles_sq'})
dfnew['Area_Miles_sq'] = df['Area_km_sq']*0.386102
dfnew['pop_permsq'] = df['Population']/dfnew['Area_Miles_sq']
dfnew

       country  Population  Area_Miles_sq  pop_permsq
0          USA   300000000     3861020.00   77.699675
1       Canada   150000000     5405428.00   27.749884
2       Mexico   167000000     1544408.00  108.132048
3    Nicaragua    87000000      347491.80  250.365620
4       Belize    35000000      193051.00  181.299242
5    Guatamala    76000000      154440.80  492.097943
6  El Salvador    45000000      162162.84  277.498840
7   Costa Rica    67000000      142857.74  468.998040
8       Panama    55000000      150579.78  365.254883
9     Honduras    38000000      162162.84  234.332354

In [23]:
def convertkmtomiles(dataframe, column_name, new_column_name):
    dataframe.rename(columns={'column_name': 'new_column_name'})
    dataframe["new_column_name"] = dataframe['column_name'] * 0.386102
    return dataframe