# 08 Day

1. Set the country column as the dataframe index 
2. Convert the Area_km_sq column to square miles (Change the column heading as well).
3. Create a new column that contains the population per sq_mile
4. Challenge: Redo number 2 using the mapping function (Here is a great chance to practicing your Googling!!!)

** This is all fake data and does not reflect reality!

In [6]:
import pandas as pd

In [9]:
data_dictionary = {"country": ["USA", "Canada", "Mexico", "Nicaragua", "Belize", "Guatamala", "El Salvador", "Costa Rica", "Panama", "Honduras"],
                  "Population": [300000000, 150000000, 167000000, 87000000, 35000000, 76000000, 45000000, 67000000, 55000000, 38000000],
                  "Area_km_sq": [10000000, 14000000, 4000000, 900000, 500000, 400000, 420000, 370000,390000, 420000]}
            
df = pd.DataFrame(data_dictionary)
df.head(2)

  country  Population  Area_km_sq
0     USA   300000000    10000000
1  Canada   150000000    14000000

In [11]:
df.set_index("country", inplace=True)
df.head(2)

         Population  Area_km_sq
country
USA       300000000    10000000
Canada    150000000    14000000

In [23]:
area_miles_sq = []
for each in df["Area_km_sq"]:
    each = each * 0.621371
    area_miles_sq.append(each)
df["Area_km_sq"] = area_miles_sq

df.head(2)
df.rename(columns={"Area_km_sq":"Area_miles_sq"})

             Population  Area_miles_sq
country
USA           300000000  575580.248864
Canada        150000000  805812.348410
Mexico        167000000  230232.099546
Nicaragua      87000000   51802.222398
Belize         35000000   28779.012443
Guatamala      76000000   23023.209955
El Salvador    45000000   24174.370452
Costa Rica     67000000   21296.469208
Panama         55000000   22447.629706
Honduras       38000000   24174.370452

In [24]:
df2 = pd.DataFrame(data_dictionary)

In [26]:
def km_to_miles(dataframe, column_name, new_column_name):
    area_miles_sq = []
    for each in dataframe[column_name]:
        each = each * 0.621371
        area_miles_sq.append(each)
    dataframe["column_name"] = area_miles_sq
    dataframe.rename(columns={"column_name":"new_column_name"})
    return dataframe

In [ ]:
km_to_miles(df2, "", "Area_miles_sq")